@font-face {
  font-family: 'Great Vibes';
  src: url('Fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  image-rendering: optimizeQuality;
  height: 100vh;
  width: 100%;
}

